<h1> What's the biggest city in America? </h1>

<form action= "http://localhost:3000/little/create" method = "post" >
	<label> Rank: </label>
	<input type = "text" name = "rank">
	<label> Population: </label>
	<input type = "text" name = "population">
	<input type = "submit">
	
</form>